/* You can add global styles to this file, and also import other style files */
.black {
  background-color: black;
  color: white;
  padding: 5px;
  border: dashed 1px #c5c5c5;
  font-weight: bolder;
  text-transform: capitalize;
  text-align: -webkit-center;
}

.layout {
  background-color: rgb(186, 189, 242);
}
